<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="" class="nav-link">
      <mat-icon>home</mat-icon>
    </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add new report</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </div>
</div>

<h4>How satisfied are you with the application?</h4>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>